.cont {
  @apply w-full flex flex-col;
  margin-bottom: 180px;
}

@media screen and (max-width: 1024px) {
  .cont {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .cont {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 420px) {
  .cont {
    margin-bottom: 80px;
  }
}


