.cont {
  
}

.bg {
  @apply max-w-[865px] right-[196px] bottom-[67px] max-xl:w-[637px] max-xl:h-[359px] max-lg:max-w-[564px] max-lg:h-auto 
  max-lg:w-full 
  absolute z-10 object-contain;
}

.title {
  @apply text-3xl max-xl:text-2xl w-full max-xl:mb-5 font-semibold
  max-md:text-lg max-lg:mb-1 ;
}

.btn {
  @apply text-2xl text-white px-5 py-3 rounded-2xl border-0;
  background-color: #5e5e5e;
}

.sub {
  @apply font-medium max-md:text-xs text-xl max-lg:mt-5;
}

.cities {
  @apply mt-[256px];
}

.line {
  @apply h-[69px] max-xl:mt-12 max-lg:mt-9 mt-20 max-md:mt-4 max-md:h-14 max-sm:h-11 max-ss:h-10 max-ss:mt-3;
  background-color: #3622f5;
}
