.cont {
  @apply flex flex-col gap-y-7 w-full;
  margin-bottom: 110px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #2e2e2e;
  padding-left: 20%;
}

.wrap {
  @apply flex gap-x-10 w-full;
}

.img {
  max-width: 413px;
  height: 100%;
  width: 100%;
}

.text {
  @apply flex flex-col gap-y-7;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #2e2e2e;

  p {
    max-width: 620px;
    width: 100%;
  }

  p:first-child span {
    display: block;
    margin-top: 10px;
  }

  p:last-child {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1238px) {
  .cont {
    margin-bottom: 58px;
  }
  .text {
    p:last-child {
      margin: 0;
    }
  }

  .title {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cont {
    margin-bottom: 100px;
  }
  .wrap {
    @apply gap-y-7 flex-col;
  }
  .img {
    max-width: 100%;
  }

  .text {
    p {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 26px;
  }
}
