.cont {
  @apply bg-white p-10 w-full grid grid-rows-1 grid-cols-2 gap-x-2;
  border: 1px solid #3622f5;
  border-radius: 0px 6px 6px 6px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #2e2e2e;

  &:last-of-type span {
    border-bottom: 1px solid #2e2e2e;
  }
}

.calc {
  @apply w-full flex flex-col gap-y-4;
  max-width: 574px;

  &__line {
    @apply flex justify-between w-full;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    span {
      @apply uppercase;
      color: #3622f5;
    }
    p {
      color: #2e2e2e;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #a7a7a7;
  }

  &_mod {
    @apply hidden;
  }
}

.leftBlock {
  @apply flex flex-col gap-y-7;
  &__input {
    @apply flex gap-x-2.5 p-2.5;
    border: 1px solid #c2c2c2;
    border-radius: 6px;

    input {
      @apply outline-none border-none w-full;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #2e2e2e;
      &::placeholder {
        color: #a7a7a7;
      }
    }

    &:last-of-type {
      width: 50%;
    }
  }
}

.rightBlock {
  @apply flex flex-col gap-y-7 items-center;

  input {
    @apply outline-none border-none bg-transparent;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #2e2e2e;
    &:placeholder {
      color: #a7a7a7;
    }
  }

  &__box {
    @apply relative;
    width: 367px;
    height: 323px;
    img {
      @apply w-full h-full;
    }
  }

  &__weight {
    @apply absolute text-center;
    width: 90px;
    right: 66px;
    top: 174px;
    transform: rotate(-18.85deg);
  }

  &__length {
    @apply absolute text-center;
    padding-top: 10px;
    width: 235.47px;
    right: -22px;
    top: 295px;
    border-top: 2px solid #d2d2d2 !important;
    transform: rotate(-18.85deg);
  }
  &__width {
    @apply absolute text-center;
    padding-top: 10px;
    width: 158px;
    right: 238px;
    top: 297px;
    border-top: 2px solid #d2d2d2 !important;
    transform: rotate(26.55deg);
  }
  &__height {
    @apply absolute text-center;
    height: 177px;
    border-left: 2px solid #d2d2d2 !important;
    right: -109px;
    padding-left: 10px;
    top: 70px;
    width: 91.04px;
  }
}

.calculateBtn {
  @apply w-full flex-center;
  height: 60px;
  background: #ececec;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  color: #a7a7a7;

  &_mod {
    @apply hidden;
  }
}

.fromTo {
  @apply flex gap-x-2.5 items-center;
}

.inpEl {
  @apply flex flex-col gap-y-2.5 w-full relative;

  p {
    @apply font-medium text-base;
  }

  span {
    color: #e60029;
  }
  &_mod {
    border-radius: 8px 8px 0 0 !important;
  }
}

.swap {
  @apply cursor-pointer;
}

.err {
  @apply text-red-600 text-xs absolute -bottom-5 pt-0.5;
}

.dropDown {
  @apply absolute left-0 w-full bg-white px-2.5 py-4 font-semibold text-lg z-30;
  top: 89%;
  color: #353535;
  border-radius: 0px 0px 8px 8px;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  height: 212px;

  &_mod {
    @apply hidden;
  }

  &__wrap {
    @apply w-full h-full overflow-auto;
  }

  &__el {
    @apply w-full py-2 px-2.5 cursor-pointer;
    border-radius: 6px;

    &:hover {
      background: #f0f0f0;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #595959;
    }
  }

  *::-webkit-scrollbar {
    width: 10px !important;
  }

  *::-webkit-scrollbar-track {
    background: transparent !important;
    border: 1px solid #c2c2c2 !important;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7a7a7 !important;
    border-radius: 8px !important;
  }

  &::after {
    @apply absolute top-0 left-1/2;
    content: '';
    width: 90%;
    height: 1px;
    transform: translate(-50%, 0);
    background: #c2c2c2;
  }
}

@media screen and (max-width: 1162px) {
  .cont {
    @apply flex flex-col gap-y-7 items-center;
  }
  .calculateBtn {
    @apply hidden;

    &_mod {
      @apply w-full flex-center mt-14;
      max-width: 580px;
      height: 60px;
      background: #ececec;
      border-radius: 6px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      color: #a7a7a7;
    }
  }

  .leftBlock {
    @apply w-full;
  }

  .calc {
    @apply hidden;

    &_mod {
      @apply w-full flex flex-col gap-y-4;
      max-width: 574px;
    }
  }
}

@media screen and (max-width: 668px) {
  .cont {
    @apply px-4 py-5 gap-y-5;
  }

  .leftBlock {
    @apply gap-y-5;
  }

  .title {
    font-size: 16px;
    line-height: 19px;
  }

  .rightBlock {
    input {
      font-size: 16.015px;
      line-height: 19px;
    }
    &__box {
      width: 267px;
      height: 235px;
    }

    &__weight {
      width: 90px;
      right: 33px;
      top: 136px;
      transform: rotate(-18.85deg);
    }

    &__length {
      padding-top: 10px;
      width: 171px;
      right: -13px;
      top: 218px;
      transform: rotate(-18.85deg);
      border-top: 1.5px solid #d2d2d2 !important;
    }
    &__width {
      padding-top: 10px;
      width: 115px;
      right: 173px;
      top: 217px;
      transform: rotate(26.55deg);
      border-top: 1.5px solid #d2d2d2 !important;
    }
    &__height {
      height: 128px;
      right: -104px;
      padding-left: 10px;
      top: 49px;
      width: 91.04px;
      border-left: 1.5px solid #d2d2d2 !important;
    }
  }
}

@media screen and (max-width: 492px) {
  .cont {
    @apply items-start;
  }
  .rightBlock {
    @apply items-start;
  }
  .err {
    font-size: 10px !important;
    line-height: 15px !important;
  }
}

@media screen and (max-width: 432px) {
  .cont {
    @apply px-2.5;
  }
  .leftBlock {
    &__input:last-of-type {
      width: 100% !important;
    }
  }

  .rightBlock {
    input {
      font-size: 11.878px;
      line-height: 14px;
    }
    &__box {
      width: 198px;
      height: 174px;
    }
    &__weight {
      width: 90px;
      right: 15px;
      top: 104px;
      transform: rotate(-18.85deg);
    }

    &__length {
      padding-top: 5px;
      width: 127px;
      right: -10px;
      top: 160px;
      transform: rotate(-18.85deg);
      border-top: 1px solid #d2d2d2 !important;
    }
    &__width {
      padding-top: 5px;
      width: 85px;
      right: 127px;
      top: 161px;
      transform: rotate(26.55deg);
      border-top: 1px solid #d2d2d2 !important;
    }
    &__height {
      height: 95px;
      right: -67px;
      padding-left: 5px;
      top: 35px;
      width: 57px;
      border-left: 1px solid #d2d2d2 !important;
    }
  }

  .calc {
    &__line {
      font-size: 13px;
      line-height: 15px;
    }

    &__text {
      font-size: 13px;
      line-height: 16px;
    }
  }
}
