.cont {
  @apply bg-[#A7A7A7] px-10 pt-8 pb-12 w-full flex flex-col max-xl:px-5 max-lg:pb-10 z-0;
  border-radius: 0px 8px 8px 8px;

  input {
    @apply bg-white text-lg w-full rounded-lg border-none outline-none p-4 font-normal max-xl:py-3 max-lg:text-base z-50;
    &:placeholder {
      color: #a7a7a7;
    }
  }

  &_mod {
    border-radius: 0px 8px 0px 0px;
  }
}

.firstLine {
  @apply gap-x-[34px] max-xl:gap-x-7 w-full flex items-center max-lg:gap-x-2.5 z-10;
  margin-bottom: 32px;
  z-index: 0;
}

.secondLine {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] grid grid-rows-1 grid-cols-2 w-full z-0;
  margin-bottom: 32px;
  z-index: 0;
  .inpEl:first-child {
    @apply w-1/2 max-xl:w-full;
  }
}

.line {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] mb-8 max-lg:mb-2.5 grid grid-rows-1 grid-cols-2 w-full z-0;
  z-index: -1;
}

.lastLine {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] grid grid-rows-1 grid-cols-2 w-full items-end z-0;
  z-index: 0;
}

.inpEl {
  @apply flex flex-col gap-y-2.5 w-full relative;

  p {
    @apply font-medium text-base;
  }

  span {
    color: #e60029;
  }
  &_mod {
    border-radius: 8px 8px 0 0 !important;
  }
}

.inpEl1 {
  @apply flex flex-col gap-y-2.5 w-1/4;

  p {
    @apply font-medium text-base z-0;
  }

  span {
    color: #e60029;
  }
}

.swap {
  @apply w-[69px] bg-[#F8F8F8] max-lg:w-[56px] max-lg:h-[30px] max-lg:p-1 max-lg:mb-1.5 h-10 rounded-full self-end mb-2 flex-center z-10 cursor-pointer p-2 z-0;
  img {
    transform: rotate(90deg);
  }
}

.dropDown {
  @apply absolute left-0 w-full bg-white p-4 font-semibold text-lg z-30;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: #353535;
  top: 100%;
  border-radius: 0px 0px 8px 8px;
  height: 212px;

  &_mod{
    @apply hidden;
  }

  &__wrap {
    @apply w-full h-full overflow-auto;
  }

  p {
    @apply pb-2 pl-1 mb-4 mr-1;
    border-bottom: 1px solid #e4e4e4;
  }

  *::-webkit-scrollbar {
    width: 10px !important;
    /* ширина scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: transparent !important;
    border: 1px solid #C2C2C2 !important;
    border-radius: 8px;
    /* цвет дорожки */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7a7a7 !important;
    /* цвет плашки */
    border-radius: 8px !important;
  }
}

.lineRev{
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] mb-5.5 max-lg:mb-2.5 grid grid-rows-1 grid-cols-2 w-full z-0;

  &__el{
    @apply flex flex-col gap-y-8;
  }
}

.buttons {
  @apply w-full flex flex-col gap-y-2 justify-end max-ss:w-fit z-0;

  button {
    @apply h-[44px] w-[162px] max-sm:w-[150px] max-sm:h-[33px] text-base flex-center rounded-lg font-bold text-white;
    &:first-child {
      background: #e60029;
    }

    &:last-child {
      background: #3622f5;
    }
  }
}

@media screen and (max-width: 500px) {
  .cont {
    @apply pb-7 max-ss:px-4 max-ss:pb-4 z-0;
    input {
      @apply max-w-[300px] max-sm:max-w-[254px] max-ss:max-w-[233px] max-sm:text-sm w-full px-4 text-base z-0;
    }
  }
  .firstLine {
    @apply flex-col gap-3 relative mb-11;
  }
  .swap {
    @apply max-ss:right-0 absolute right-4 top-1/2 w-7 h-7 m-0;
  }
  .secondLine {
    @apply flex flex-col gap-3 mb-3;
  }
  .line {
    @apply flex flex-col gap-y-2.5;
    margin-bottom: 12px;
  }
  .lastLine {
    @apply max-ss:items-center flex flex-col-reverse gap-8 max-ss:gap-7;
  }
  .lineRev{
    @apply flex flex-col gap-y-3;
    &__el{
      @apply flex flex-col gap-y-3;
    }
  }
}
