.container {
  @apply w-full bg-white flex items-center;
  margin-bottom: 132px;
}

.logo {
  @apply max-xl:w-[199px] max-xl:h-[60px] cursor-pointer max-w-[188px] max-h-[47px];
}

.link {
  @apply flex items-center gap-x-4 ml-5 cursor-pointer;
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.burger {
  @apply hidden justify-between cursor-pointer;
  width: 25px;
  height: 20px;
  span {
    width: 100%;
    background: #3622f5;
    border-radius: 1.3px;
    height: 4px;
  }
}

.info {
  @apply flex items-center gap-x-4 ml-auto;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #6d6d6d;
  }

  button {
    @apply flex-center;
    width: 104px;
    height: 51px;
    color: #3622f5;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: #f3f3f3;
    backdrop-filter: blur(4px);
    border-radius: 6px;
    img {
      @apply hidden;
    }
  }
}

.modalCont {
  @apply fixed w-full hidden top-0 left-0 z-10;
  height: 100vh;

  &_mod {
    display: none !important;
  }
}

.modal {
  @apply hidden flex-col items-center gap-y-5 fixed top-0 left-0 z-30;
  width: 100%;
  height: 281px;
  background: #6d5ef6;
  padding: 48px 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

  &_mod {
    display: none !important;
  }
}

@media screen and (max-width: 1232px) {
  .container {
    margin-bottom: 80px;
  }
  .info {
    @apply gap-x-1.5;
    p {
      @apply hidden;
    }

    img {
      width: 30px;
      height: 30px;
    }

    button {
      margin-left: 7px;
      width: 40px;
      height: 40px;

      p {
        @apply hidden;
      }

      img {
        @apply block;
      }
    }
  }
  .link a {
    font-size: 15px;
    line-height: 18px;
  }

  .logo {
    width: 160px;
    height: 40px;
  }
}

.close {
  @apply absolute cursor-pointer;
  top: 48px;
  left: 24px;
}

@media screen and (max-width: 950px) {
  .link {
    @apply hidden;
  }
  .burger {
    @apply flex flex-col;
  }
  .container {
    @apply justify-between;
  }
  .info {
    margin: 0;
    button {
      margin: 0;
    }

    &__img {
      @apply hidden;
    }
  }
  .modal {
    display: flex;
  }

  .modalCont {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    width: 144px;
    height: 36px;
  }

  .info {
    buttton {
      width: 36px;
      height: 36px;
      img {
        width: 14px;
        height: 20px;
      }
    }
  }
}
