.cont {
  @apply flex gap-x-24 w-full justify-center;
  margin-top: 140px;
}

.leftB {
  @apply flex flex-col gap-y-4;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  p:first-child {
    color: #2e2e2e;
  }
  p:last-child {
    color: #6d6d6d;
    text-decoration-line: underline;

    &:hover {
      color: #6d5ef6;
    }
  }
}

.rightB {
  @apply flex flex-col gap-y-4;
  p {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #6d6d6d;
    text-decoration-line: underline;

    &:hover {
      color: #6d5ef6;
    }
  }
}

.ico {
  @apply flex gap-x-3;
}

.write {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #6d6d6d;
}

@media screen and (max-width: 420px) {
  .cont {
    @apply flex-col-reverse gap-y-10 items-center;
    margin-top: 100px;
  }

  .rightB {
    @apply text-center;

    span {
      display: none;
    }
  }

  .leftB {
    @apply text-center items-center;
  }
}
