.cont {
  @apply px-20 pt-8 pb-12 bg-[#a7a7a7] w-full flex flex-col gap-y-2.5 max-xl:px-16 max-lg:px-6;
  border-radius: 0px 8px 8px 8px;

  &_mod{
    border-radius: 0px 8px 0px 0px;
  }
}

.search {
  @apply w-full flex gap-x-3;

  &__input {
    @apply max-lg:py-3.5 bg-white w-full rounded-lg flex items-center gap-x-4 p-4;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    input {
      @apply max-lg:text-base text-lg bg-transparent border-none outline-none w-full font-normal;
      color: #353535;
      &:placeholder {
        @apply text-[#626262];
      }
    }
  }

  &__button {
    @apply bg-[#3622F5] text-base rounded-lg flex-center font-bold text-white max-sm:text-sm;
    width: 330px;
  }
}

.title {
  @apply font-medium text-base max-sm:text-sm;

  span {
    color: #e60029;
  }
}

@media screen and (max-width: 500px) {
  .cont{
    @apply py-5 px-7 gap-2.5 max-sm:py-6 max-sm:px-5;
  }
  .search{
    @apply flex flex-col gap-3 items-center;

    &__input{
      @apply py-[10px] px-4 text-sm;
    }

    &__button {
      @apply h-[41px] w-[133px];
    }
  }
}

.delivery{
  @apply w-full flex justify-between px-4 py-4;
  background-color: #EDEDED;
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
}

.deltop {
  @apply flex justify-between pt-5 pb-2 px-4;
  background-color: #EDEDED;
}
