.cont {
  @apply p-10 bg-white w-full grid gap-x-5;
  border: 1px solid #3622f5;
  border-radius: 6px 0px 6px 6px;
  grid-template-columns: 1fr 1fr;
}

.search {
  @apply flex flex-col gap-y-7 w-full;
  max-width: 460px;

  &__input {
    @apply bg-transparent w-full flex items-center gap-x-2.5 px-2.5 py-3;
    border-radius: 6px;
    border: 1px solid #c2c2c2;

    img {
      width: 15px;
      height: 15px;
    }

    input {
      @apply bg-transparent border-none outline-none w-full;
      font-feature-settings: "pnum" on, "lnum" on;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #2e2e2e;
      &:placeholder {
        color: #a7a7a7;
      }
    }
  }

  &__button {
    @apply w-full flex-center;
    height: 60px;
    background: #3622f5;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
}

.info {
  @apply flex flex-col gap-y-7 items-center;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #a7a7a7;

  &__img {
    @apply flex gap-x-9;

    height: 157px;

    img:nth-child(1) {
      align-self: flex-start;
    }
    img:nth-child(2) {
      align-self: center;
    }
    img:nth-child(3) {
      align-self: flex-end;
    }
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #2e2e2e;
}

@media screen and (max-width: 1024px) {
  .cont {
    @apply flex flex-col items-center gap-y-7;
  }

  .info {
    max-width: 630px;
  }
}

@media screen and (max-width: 420px) {
  .cont {
    @apply p-4;
  }

  .search {
    @apply gap-y-4;
  }

  .title {
    font-size: 16px;
    line-height: 19px;
  }

  .info {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cont {
    @apply px-2.5;
  }

  .search {
    @apply gap-y-4;
  }

  .title {
    font-size: 16px;
    line-height: 19px;
  }

  .info {
    font-size: 13px;
    line-height: 16px;
  }
}

