.cont {
  @apply w-full grid gap-x-11;
  grid-template-columns: 20% auto auto;
  max-width: 630px;

  span {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #3622f5;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2e2e2e;
    overflow-wrap: anywhere;
  }
}

.el {
  @apply flex flex-col gap-y-3 w-full;
  word-wrap: break-word;

  &_mod{
    span,p{
      text-align: end;
    }
  }
}

@media screen and (max-width: 470px) {
  .el {
    @apply gap-y-2;
    span {
      font-size: 13px;
      line-height: 15px;
    }
    p {
      white-space: pre;
      font-size: 13px;
      line-height: 16px;
    }
  }
  .cont {
    @apply overflow-auto gap-x-5;
    grid-template-columns: 1fr auto auto;
  }
}
