.cont {
  @apply w-full grid grid-rows-1 grid-cols-2;
}

.tab {
  @apply h-[39px] w-full bg-transparent flex-center cursor-pointer relative;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #3622f5;
  border-bottom: 0px;
  color: #3622f5;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.active {
  background: #3622f5;
  color: #ffffff !important;
}
