.cont {
  @apply py-8 px-10 w-full flex flex-col gap-y-8 max-xl:gap-y-6 max-lg:pl-5 max-sm:px-4 max-sm:pb-5;
  background: #ededed;
  border-radius: 0px 0px 8px 8px;
}

.info {
  @apply flex flex-col w-full gap-y-5;
  max-width: 908px;

  &__el {
    @apply text-lg w-full flex justify-between gap-x-2;
    font-feature-settings: 'pnum' on, 'lnum' on;
    max-width: 50%;
    p:first-child {
      @apply font-normal;
    }
    p:last-child {
      @apply font-semibold;
    }
  }
}

.city {
  @apply text-lg w-full flex justify-between gap-x-2;
  max-width: 50%;
}

.text {
  @apply text-base font-medium max-md:text-xs;
  white-space: break-spaces;
}

@media screen and (max-width: 888px) {
  .info {
    &__el {
      max-width: 70%;
      @apply text-base;
    }
  }
  .city {
    max-width: 70%;
    @apply text-base;
  }
}

@media screen and (max-width: 500px) {
  .info {
    &__el {
      max-width: 100%;
      @apply text-sm;
    }
  }
  .city {
    max-width: 100%;
    @apply text-sm;
  }
}
